/* Red #f44336 */
/* Grey #9e9e9e */
/* Dark Grey #424242 */
/* light grey (navbar)#f8f9fa */

.calendar-container{
    background-color: #f8f9fa;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    flex:1;
    min-width: 230px;
    
    border-radius:5px;
    /*                              <-- Adjust this to make it look good on your computer  */
    font-size: 0.6em;
    height: 35vh;

  }
  @media(max-width: 1228px) {
    .calendar-container{
      margin: 0 0 0 1vh  ;
    }
  }
  @media(max-width: 795px) {
    .calendar-container {
      order: 3;
      margin :1vh 0 0 0 ;
    }
  }
  .current-day{
    font-weight: 800; 
  }
  .calendar{
    width: 100%;
    padding:  0 1vh;
  }
  .calendar-header{
    display:flex; 
    padding: 1vh;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
  }
  .booked{
    background-color: #f44336;
  }