.signup{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        height: 100vh;
    
}

.para{
    font-size: 200%
}

.provinceSelect{
padding: 100px !important;
}