.signup{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        background: url("https://images.pexels.com/photos/7477/night-trees-stars.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") ;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    
}

.para{
    font-size: 200%
}