ul {
  width: 100%;
  font-size: 2rem; 
}
#navbar{
  height: 10vh;
  font-size: 2rem;
}
#logo{
  font-size: 2rem!important;
}
#logo:focus{
  outline: none;
}
.linkBtn{
background: none !important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    cursor: pointer;
    margin-right:10px; 
}
.linkBtn:focus{
  outline: none;
}