.pg-avatar{
    /* background-color: #f0f2ff; */
    flex:1;
    height:35vh;
    min-width: 230px;
    max-height: 100%;
    overflow: hidden;
    /* margin: 25px;  */
    border-radius:5px;  
    object-fit: contain;
  
  }
  @media(max-width: 526px) {
    .pg-avatar{
        width:100%;
    }
  }
  .pg-avatar >img {
      max-width: 500px;
      border-radius:5px;  
  }