.pg-avatar{
    /* background-color: #f0f2ff; */
    flex: 25% 1 1 ;
    max-height: 100%;
    overflow: hidden;
    /* margin: 25px;  */
    border-radius:5px;  
    object-fit: contain;
  
  }
  .pg-avatar >img {
      max-width: 348px;
      border-radius:5px;  
  }