/* Red #f44336 */
/* Grey #9e9e9e */
/* Dark Grey #424242 */
/* light grey (navbar)#f8f9fa*/


.pgCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
}
.preview{
  /* flex:35vh 1 1 ; */
  display: flex;
  flex-direction: column;  
  margin: 0 1vh 0 1vh;
}
.preview-data{
  display:flex;
  flex-wrap:wrap;
}
@media(max-width: 526px) {
  .preview-data {
      flex-direction:column;
  }
}

.collapsed-data{
  display: flex;
  flex-direction: column;
  margin-top:1vh;
}
.collapsed-data.is-collapsed{
  display: none;
}
.insta{
  background-color: #f8f9fa;  ;

  margin: 0px 1vh 1vh 1vh;
  /* padding: 8px 8px 0 8px; */
  border-radius:5px;    
  text-align: end;
  display: flex; 
  flex-direction: column;
  justify-content: flex-end;
}
.pretend-pix{
  display:flex;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
}
.pretend-pic{
  margin: 1vh 1vh 0 1vh;
  overflow: hidden;
}
.pretend-pic > img{
  height: 15vh;
}

.more-div{
 height:6.5vh; 
 display: flex; 
 justify-content: flex-end;
}
more-div.card-collapse-btn{
  margin-right: 1vh;
}