.pgCard {
  background-color: #f0f2ff;
  display: flex;
  flex-direction: column;
}
.preview{
  background-color: #6f80f0;
  flex:45vh 1 1 ;
  display:flex;
}

.collapsed-data{
  background-color: #6f80f0;
  display: flex;
  flex-direction: column;
}
.collapsed-data.is-collapsed{
  display: none;
}
.insta{
  background-color: #f0f2ff;
  flex: calc(22.5vh-5px) 1 1;
  margin: 5px 5px 0 5px; 
  padding: 10px;
  border-radius:5px;    
  text-align: end;
  display: flex; 
  flex-direction: column;
  justify-content: flex-end;
}
.pretend-pix{
  display:flex;
  align-items: stretch;
  height: 80px;
}
.pretend-pic{
  flex: 15% 1 1;
  background: linear-gradient(135deg, rgba(236,195,239,1) 0%, rgba(178,39,185,1) 0%, rgba(142,219,240,1) 100%);
  border-radius: 5px; 
  border: 1px solid black;
  margin: 10px;
}
button.more{
  text-align: end;
}
button.more.hidden{
  visibility: hidden;
}