/* Red #f44336 */
/* Grey #9e9e9e */
/* Dark Grey #424242 */
/* light grey (navbar)#f8f9fa */

.reviews{
    background-color: #f8f9fa;  
    margin: 0px 1vh 0 1vh;
    border-radius:5px;  
    /* padding: 1vh 1vh 0 1vh; */
    text-align: end;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
  }
  .shown-review{
    display:flex;
  }
  .hidden-review{
    display:none;
  }
  .user-avatar{
    overflow: hidden;
    margin: 1vh  1vh 0  1vh;
  }
  .user-avatar>img{
    height:15vh
  }
  .user-info{
    flex: 10% 1 1  ;
    margin: 1vh  1vh 0  1vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .review-text{
    flex: 60% 1 1  ;
    margin: 1vh  1vh 0  1vh;
  }  
