/* Red #f44336 */
/* Grey #9e9e9e */
/* Dark Grey #424242 */
/* light grey (navbar)#f8f9fa */


.resultPage {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  position:relative;
  z-index:1;
}
.searchForm {
  background-color: #9e9e9e;
  flex:248px 1 0;
  /* min-width: 250px;
  max-width: 350px; */
  height: 90vh;
}
.scroll{
    height: 90vh;
    overflow-Y: scroll;  
    /* flex: 744px 3 3; */
    flex:278px 5 0;
    min-width: 250px;
}
.pgCards {
  display: flex;
  flex-direction: column;
  padding-top:1vh;
  background-color: #424242;
}